.title{
  background-color: rgb(45,16,241);
  text-align: center;
  color: white;
  padding: 12px 0px;
}
span{
  font-size: 100px;
  font-weight: 800;
}
.google1,.google4{
  color: rgb(66,133,244)
}
.google2,.google6{
  color: rgb(219,68,55)
}
.google3{
  color: rgb(244,188,5);
}
.google5{
  color:rgb(15, 157,88);
}
.primary,.light,.dark{
  background-color: #6242a6;
  padding: 20px;
  width: 100px;
  height: 100px;
}
.light{
  background-color: #936ed7;
}
.dark{
  background-color: #311875;
}
.figure1{
  width: 80%;
  position:relative;
  margin-left: auto;
  margin-right: auto;
}
.img_figure1{
  width: 100%
}
.p_figure1{
  position: absolute;
  background-color: rgba(50,50,50,0.5);
  color: lightgray;
  bottom: 2%;
  left: 10%;
  right: 10%;
  padding: 12px;
  font-size: 50px;
  text-align: center;

}
/* sticky position */
.stickyTop{
  background-color: rgba(52,168,83, 0.5);
  padding: 1em;
  font-size: 2em;
  text-align:center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  position: -webkit-sticky; /*mac browser */
  top: 0px;
}
/* hero image */
.heroImage{
  background-image: linear-gradient(rgba(234,67,53,0.9), rgba(251,188,5,0.5)), url("image1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 500px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.heroTitle{
  position: absolute;
  top: 35%;
  bottom: 35%;
  text-align: center;
  left: 30%;
  right: 30%;
  font-size: 50px;
}
.heroP{
  position: absolute;
  width: 50%;
  left: 10%;
  top: 5%;
  font-size: 20px;
  font-family: monospace;

  }
  .heroP2{
    position: absolute;
    width: 25%;
    right: 2%;
    bottom: 1%;
    font-size: 20px;
    font-family: monospace;
  }
  /* filters */
  .filterContainer{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .filter1,.filter2,.filter3{
    width: 300px;
    height: 220px;
    margin-left: 20px;
  }
  figcaption{
    padding: 20px;
    text-align: center;
    font-size: 10px;
  }
  .filter1{
    filter: blur(2px)
  }
  .filter2{
    filter: sepia(100%);
  }
  .filter3{
    filter: invert(100%);
  }
  /* footer */
  footer{
    text-align:center;
    font-size: 12px;
    border-top: ridge 2px gray;
    padding: 15px;
  }
  .container2{
    width: 700px;
    height: 600px;
    position: relative;
  }
  .img2{

      width:500px;
      height:500px;
      position:relative;
      filter: invert(60%);
  }
  .sltitle{
    font-size: 2em;
    color: blue;
    padding:20px;
    width: 200px;
    bottom: 300px;
    left: 50px;
    position: absolute;
  }
   .sltext{
    width: 200px;
    bottom: 200px;
    left: 40px;
    color:white;
    position: absolute;
    border: solid 5px white;
    padding: 10px;

  }
  /*image2*/
  .maimage{
    background-size: 100% 100%;
    height:700px;
    width: 700px;
    position:relative;
    filter: blur(3px);
  }
  .container3{
    width: 600px;
    height: 300px;
    position: relative;
  }
  .matitle{
    font-size: 2.5em;
    position: absolute;
    color:red;
    top:-240%;
    left: 15%;
    padding:20px;


  }
  .matext{
    font-size: 15px;
    font-style: italic;

    padding: 10px;
    position: absolute;
    width:500px;

    left: 15%;
    box-shadow:  0px 0px 5px 5px black;
    opacity: 0.5;
    top: -150%;

  }
  .masubmit{
    color: lightgray;
    text-decoration: none;
    display: inline-block;
    bottom: 200%;
    background-color: rgba(0,0,0,0.3);
    padding:20px;
    border-radius: 10px;


  }
  .masubmit:hover{

      background-color: orange;
      color: green;
      box-shadow: 0px 0px 5px 5px black;

  }
  /*image3*/
  .container4{
    width: 700px;
    height:700px;
    background-image: linear-gradient(to top left,lightblue,lightgreen,url("images/cp.jpg"));
  }
  .cptitle{
    color:brown ;
    font-size: 4em;
    left: 20%;
    top:-25%;
    bottom:90%;
    text-align: center;
    position: relative;
  }

  .cptxt1{
    color:white;
    position: relative;
    width: 150px;
    font-size: 10px;
    font-style: italic;
    left: 5%;
    bottom: 72%;
  }
  .cptxt2{
    color: white;
    position: relative;
    font-size: 15px;
    width: 50px;
    left: 85%;
    bottom:95%;
    font-style: oblique;


  }
  .cptxt3{
    color: white;
    position: relative;
    font-size: 10px;
    width:100px;
    bottom: 130%;
    left:42%;

  }
